{% extends 'base.html' %}

{% block content %}


{% if request.user.is_superuser %}

<div class="row">
  <div class="col-md-3">

    <h4 class="text-center alert alert-info">Add New Book</h4>

    <form action="" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class="btn btn-success" value="Add Book">
      <a href="{% url 'signout' %}" class="btn btn-danger">Logout</a>
    </form>

  </div>


  <div class="col-md-8 offset-1">
    <h4 class="text-center alert alert-info">Show Book Information</h4>

    {% if book %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Sr. No.</th>
          <th scope="col">Name</th>
          <th scope="col">Author</th>
          <th scope="col">Category</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for books in book %}
        <tr>
          <th scope="row">{{books.id}}</th>
          <td>{{books.name | truncatechars:20}}</td>
          <td>{{books.author | truncatechars:20}}</td>
          <td>{{books.category | truncatechars:20}}</td>
          <td>{{books.date}}</td>
          <td>
            <a href="{% url 'updatedata' books.id %}" class="btn btn-info btn-sm">Edit</a>

            <form action="{% url 'deletedata' books.id %}" method="post" class="d-inline">
              {% csrf_token %}
              <input type="submit" value="Delete" class="btn btn-danger btn-sm">
            </form>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <h4 class="text-center alert alert-warning">No Records Found!</h4>

    {% endif %}
  </div>
</div>

{% else %}
  <h4 class="text-center alert alert-warning"> You Are Not A SUPERUSER !!!</h4>

  <a href="{% url 'signout' %}" class="btn btn-danger">Logout</a>
  <p>
   <strong> If You Are Student Click On The Student View.
   </strong> </p>
  <a href="{% url 'student' %}" class="btn btn-primary"> Student</a>


{% endif %}

{% endblock content %}