{% extends 'base.html' %} {% block content %}

<div class="container col-md-6 offset-3">
    <div class="m-5 mt-5">
        <h2 class="text-center alert alert-info">Login Panel</h2>
    </div>
    <form class="row g-3 col-md-6 offset-3">
        <div class="col-md-6">
            <a href="{% url 'student' %}">

                <!-- <a href="{% url 'signin'  %}" class="btn btn-primary">Admin</a> -->

                <a href="{% url 'signup'  %}" class="btn btn-primary">Admin SignUp</a>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'signin' %}">
                <a href="{% url 'student'  %}" class="btn btn-primary"> For Student Only </a>
            </a>
        </div>
    </form>
</div>

{% endblock content %}